@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans.ttf);
}

@font-face {
    font-family: "Fredoka";
    src: url(./assets/fonts/Fredoka.ttf);
}

body {
    margin: 0;
    background: #131316;
}

.app {
    min-height: 100vh;
    font-family: "Calibri", sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}