@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans.ttf);
}

body {
    margin: 0;
}

.app {
    background: rgb(28, 119, 44);
    background: linear-gradient(135deg, rgba(28, 119, 44, 1) 16%, rgba(0, 13, 53, 1) 67%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh;
    font-family: "Calibri", sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}